

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>客户回款后台管理</title>
     <script type="text/javascript">
    function check() {
 	  if(document.forms.myform.paymoney.value==""){
		   alert("请输入申请延期还款理由!");
		  document.forms.myform.paymoney.focus();
		   return false;
	   }	 
 }
</script>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <script type="text/javascript" src="../static/js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <ul class="navbar-list clearfix">
                <li><a class="on" >客户界面</a></li>            
            </ul>          
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li>某某某,欢迎你&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li><a href="Customerindex.html">切换用户</a></li>
                <li><a href="index.html">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font"></i>信息查询</a>
                    <ul class="sub-menu">
                        <li><a href="customer_querySeller.html"><i class="icon-font"></i>查询责任销售员</a></li>
                        <li><a href="customer_queryContract.html"><i class="icon-font"></i>合同信息查询</a></li>

                        <li><a href="customer_queryRepayment.html"><i class="icon-font"></i>回款记录查询</a></li>
                        <li><a href="customer_queryUrgeBill.html"><i class="icon-font"></i>催款记录查询</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font"></i>客户操作</a>
                    <ul class="sub-menu">
                        <li><a href="customer_query_self.html"><i class="icon-font"></i>个人信息查询</a></li>
                        <li><a href="customer_update_self.html"><i class="icon-font"></i>修改基本信息</a></li>
                        <li><a href="customer_returnBill.html"><i class="icon-font"></i>合同还款</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
        <div class="main-wrap">
          <div class="crumb-wrap">
            <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="customer_login_success.html">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">合同还款</span>
            </div>
           </div>
         <div class="result-wrap">
            <div class="result-title">
                <h1>请输入您的延期还款申请信息:</h1>
            </div>
             <div class="result-content">
                <form action="Repayment_returnBillSuccess.action" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>                                                      
                            <tr>
                            <th>申请延期还款合同名称：</th>
                            <td>
                            <select name="csex" id="catid" class="required">                  
                            <option value="#####" selected="selected">#####</option>
                            <option value="#####">#####</option>       
                            <option value="#####">#####</option>       
                            <option value="#####">#####</option>       
  
                            </select>
                            </td>
                           
                            </tr>                                                                   
                            <tr>
                                <th>申请时间：</th>
                                <td>####年##月##日</td>
                            </tr>
                            <tr>
                                <th>申请理由：</th>
                                <td><input class="common-text" name="paymoney" size="50"  type="text"  placeholder="请输入申请延期还款理由，将由销售员进行审核"></input></td>
                            </tr>                                                                            
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit" onclick="return check(this)">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
         </div>
    </div>
</div>
</body>
</html>