
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>客户回款后台管理</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <script type="text/javascript" src="../static/js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <ul class="navbar-list clearfix">
                <li><a class="on" >客户界面</a></li>            
            </ul>          
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li>某某某,欢迎你&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
               <li><a href="Customerindex.html">切换用户</a></li>
                <li><a href="index.html">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
               <li>
                    <a href="#"><i class="icon-font"></i>信息查询</a>
                    <ul class="sub-menu">
                        <li><a href="customer_querySeller.html"><i class="icon-font"></i>查询责任销售员</a></li>
                        <li><a href="customer_queryContract.html"><i class="icon-font"></i>合同信息查询</a></li>

                        <li><a href="customer_queryRepayment.html"><i class="icon-font"></i>回款记录查询</a></li>
                        <li><a href="customer_queryUrgeBill.html"><i class="icon-font"></i>催款记录查询</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font"></i>客户操作</a>
                    <ul class="sub-menu">
                        <li><a href="customer_query_self.html"><i class="icon-font"></i>个人信息查询</a></li>
                        <li><a href="customer_update_self.html"><i class="icon-font"></i>修改基本信息</a></li>
                        <li><a href="customer_returnBill.html"><i class="icon-font"></i>合同还款</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
        <div class="main-wrap">
          <div class="crumb-wrap">
            <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="customer_login_success.html">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">催款记录查询</span>
            </div>
           </div>
        <div class="result-wrap">
            <form action="#" method="post" id="myform" name="myform">
                <div class="config-items">                   
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                         <tr >
									<td>催款合同名</td>
									<td>催款人</td>
									<td>最终还款时间</td>
									<td>催款时间</td>							
									
						 </tr>
						  <tr class="list">
                                    <td>######</td>
                                    <td>######</td>
                                    <td>######</td>
                                    <td>######</td>
                                </tr>
                              <tr class="list">
                                    <td>######</td>
                                    <td>######</td>
                                    <td>######</td>
                                    <td>######</td>
                                </tr>
                                  <tr class="list">
                                    <td>######</td>
                                    <td>######</td>
                                    <td>######</td>
                                    <td>######</td>
                                </tr>    
                         </table>
                    </div>
                </div>              
            </form>
        </div>
    </div>
</div>
</body>
</html>