
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>客户回款后台管理</title>
     <script type="text/javascript">
    function check() {	 
    	if(document.forms.myform.cusname.value==""){
 		   alert("销售员姓名不能为空");
 		  document.forms.myform.cusname.focus();
 		   return false;
 	   }
 	  if(document.forms.myform.cpassword.value==""){
		   alert("密码不能为空");
		  document.forms.myform.cpassword.focus();
		   return false;
	   }
 	 if(document.forms.myform.ctel.value==""){
		   alert("电话不能为空");
		  document.forms.myform.ctel.focus();
		   return false;
	   }
 	  if(!isNumber(document.forms.myform.ctel.value)){
		   alert("请输入正确的电话格式");
		  document.forms.myform.ctel.focus();
		   return false;
	   }
 }
    function isNumber(number){
    	 var re = new RegExp(/^\d{7,}$/);
    	  return re.test(number);
        } 
</script>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <ul class="navbar-list clearfix">
                <li><a class="on" >销售员注册界面</a></li>            
            </ul>          
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="index.html">退出注册</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">

    <!--/sidebar-->
    <div class="main-wrap">

            <div class="result-wrap">
            <div class="result-title">
                <h1>请输入新的注册信息:</h1>
            </div>
             <div class="result-content">
                <form action="index.html" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                           <tr>
									<th>销售员姓名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="cusname" size="50"  type="text"  ></input>
                                </td>
                           </tr>
                            <tr>
                                <th>销售员登录密码：</th>
                                <td><input class="common-text" name="cpassword" size="50"  type="text" ></input></td>
                            </tr>
                            <tr>
                                <th>性别：</th>
                                <td>
                                <select name="csex" id="catid" class="required">                              
                                <option value="男" selected="selected">男</option><option value="女">女</option>                                       
                                </select>
                                </td>
                            </tr>
                             <tr>
                                <th>电话：</th>
                                <td><input class="common-text" name="ctel" size="50"  type="text" ></input></td>
                            </tr>  
                            <tr>
                                <th>职务：</th>
                                <td><select name="reputation" id="reputation" class="required">                              
                                <option value="优秀" selected="selected">普通员工</option>
                                <option value="良好">业务总管</option> 
                                <option value="较差">部门经理</option>                                        
                                </select></td>
                            </tr>                                                  
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit" onclick="return check(this)">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>