
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>客户回款后台管理</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <ul class="navbar-list clearfix">
                <li><a class="on" >销售员界面</a></li>            
            </ul>          
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                 <li>某某某,欢迎你&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
               <li><a href="Sellerindex.html">切换用户</a></li>
                <li><a href="index.html">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                       <li>
                    <a href="#"><i class="icon-font"></i>信息查询</a>
                    <ul class="sub-menu">
                        <li><a href="seller_queryCustomer.html"><i class="icon-font"></i>查询负责客户信息</a></li>
                        <li><a href="seller_queryContract.html"><i class="icon-font"></i>相关合同信息查询</a></li>
                        <li><a href="seller_queryCustomerBill.html"><i class="icon-font"></i>客户还款记录</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font"></i>销售员操作</a>
                    <ul class="sub-menu">
                        <li><a href="seller_query_self.html"><i class="icon-font"></i>个人信息查询</a></li>
                        <li><a href="seller_update_self.html"><i class="icon-font"></i>修改基本信息</a></li>   
                        <li><a href="seller_newContract.html"><i class="icon-font"></i>签订合同</a></li> 
                        <li><a href="seller_new_customer.html"><i class="icon-font"></i>新增客户</a></li>                                                            
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="seller_login_success.html">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">客户欠款查询</span>
            </div>
        </div>
        <div class="result-wrap">
            <form action="#" method="post" id="myform" name="myform">
                <div class="config-items">                   
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                         <tr >
									<td>欠款客户</td>
									<td>欠款对应合同名称</td>
									<td>账单生效时间</td>
									<td>账单最终还款时间</td>
									<td>合同总金额</td>
									<td>已还款金额</td>
									<td>仍欠款金额</td>	
									<td>操作</td>						
						 </tr>
					
								<tr class="list">
								    <td>#####</td>
									<td>#####</td>
									<td>#####</td>
                                    <td>#####</td>
									<td>#####</td>
									<td>#####</td>
									<td>#####</td>
									<td><a href="###" class="btn btn-primary btn2" onclick="alert('催款信息已送达');"  >催款</a></td>        
								</tr>
                                <tr class="list">
                                    <td>#####</td>
                                    <td>#####</td>
                                    <td>#####</td>
                                    <td>#####</td>
                                    <td>#####</td>
                                    <td>#####</td>
                                    <td>#####</td>
                                   <td><a href="###" class="btn btn-primary btn2" onclick="alert('催款信息已送达');"  >催款</a></td>   
                                </tr>
                         </table>
                    </div>
                </div>              
            </form>
        </div>
    </div>
</div>
</body>
</html>